<div class="calculator">
    <div class="investment-container">
        <div class="heading">
            <p class="label">Monthly Investment</p>
            <div class="input">
                <input type="number">
            </div>
        </div>
        <div class="slider-range">
            <div class="calculator-slider-range"></div>
            <div class="values"></div>
        </div>
    </div>
    <div class="investment-container">
        <div class="heading">
            <p class="label">Expected return rate (p.a)</p>
            <div class="input">
                <input type="number">
            </div>
        </div>
        <div class="slider-range">
            <div class="calculator-slider-range"></div>
            <div class="values"></div>
        </div>
    </div>
    <div class="investment-container">
        <div class="heading">
            <p class="label">Time period</p>
            <div class="input">
                <input type="number">
            </div>
        </div>
        <div class="slider-range">
            <div class="calculator-slider-range"></div>
            <div class="values"></div>
        </div>
    </div>
</div>