<div class="calculator">
    <div class="investment-container">
        <div class="heading">
            <p class="label">Monthly Investment</p>
            <div class="input">
                <i class="fas fa-rupee-sign" ></i>
                <input type="number">
            </div>
        </div>
        <div class="slider-range">
            <div class="calculator-slider-range">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            <div class="values">
                <span>100</span>
                <span>5,00,000</span>
            </div>
        </div>
    </div>
    <div class="investment-container">
        <div class="heading">
            <p class="label">Expected return rate (p.a)</p>
            <div class="input">
                <input type="number">
            </div>
        </div>
        <div class="slider-range">
            <div class="calculator-slider-range">
                <input type="range" min="1" max="30" value="50" class="slider" id="myRange">
            </div>
            <div class="values">
                <span>1%</span>
                <span>30%</span>
            </div>
        </div>
    </div>
    <div class="investment-container">
        <div class="heading">
            <p class="label">Time period</p>
            <div class="input">
                <input type="number">
            </div>
        </div>
        <div class="slider-range">
            <div class="calculator-slider-range">
                <input type="range" min="1" max="30" value="50" class="slider" id="myRange">
            </div>
            <div class="values">
                <span>1 Yr</span>
                <span>30 Yr</span>
            </div>
        </div>
    </div>
</div>